@charset "utf-8";

html,body
ul, ol, li,
h1, h2, h3, h4, h5, h6, div, a{
  margin: 0;
  padding: 0;
}

body{
   font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',sans-serif;
    min-height: 100vh;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

/*------------------------------*/

.wrapper{
    height:80vh;
    background-color: white;
    color:#64686a;
}

.container{
    margin-top: 2rem;
    padding-top: 5rem;
    background-color: white;
}

.typein{
    background-color:#fcf6e8;
    border-radius: 15px;
    padding: 2rem;
    width: 900px;
    margin: 0 auto;
    position: relative;
}

.error-box li{
    color: red;
}

.form_title{
    text-align: center;
    width: 400px;
}

.orange{
    border-bottom: solid 0.5rem #ecac73;
}

.btn{
    margin-top: 20px;
    margin-bottom: 20px;;
    width: 120px;
    line-height: 20px;
    border-radius: 50px;
    padding: 8px;
    font-size: 14px;
    font-weight: bold;
    color: #fcf6e8;
    border: none;  /* 枠線を消す */
    outline: none;
  }

.bg_green{
    background-color:#8fd2c5;
}

.bg_gray{
    background-color:#707070;
}

.btn:hover{
    cursor:pointer;
}


/*shopping cart image*/

.img_box img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border: solid #707070 4px;
}

.row_box{
    display: flex;
    /*justify-content: space-between;*/
    justify-content: space-evenly;
    align-items: center;
    height: 4rem;
    padding-bottom: 1rem;
    border-bottom: solid #707070 2px;
}

.row_box2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 4rem;
    padding-bottom: 1rem;
    border-top: solid #707070 2px;
    border-bottom: solid #707070 4px;
    padding: 0px;
}


.item{
    margin-right: 2rem;
}

.link_box{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 2rem;
    padding-top: 1rem;
}

.line_color_green{
    border-bottom: solid 5px #8fd2c5;
}

.line_color_orange{
    border-bottom: solid 5px #ecac73;
}

.link_a{
    text-decoration: none;
    display:inlin-block;
    color: #707070;
    margin: 0 2rem;
    padding-top: 1rem;
}

.link_a:hover{
    color:black;
}

.attention{
    color: red;
}


