/*header*/
@charset "utf-8";

html,body
ul, ol, li,
h1, h2, h3, h4, h5, h6, div ,a{
  margin: 0;
  padding: 0;
}



header{

    font-family:'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',sans-serif;
    /*'Hiragino Mincho ProN','Javanese Text','Mongolian Baiti','Palatino Linotype';*/
    background-color: white;
    color:#626063;
    position: fixed;
    top:0px;
    z-index: 1;
    width:100%;

}

.bh_container{
    height: 80px;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.blogo{
font-size: 24px;
font-weight: bold;
}

.bnavi{
    font-size: 20px;
    z-index: 1;
}

.bnavi ul{
    display: flex;
    padding: 0;
    margin: 0;
}

.bnavi ul li{
    margin-left: 30px;

}

.blistH{
    position: relative;
}

.blistH ul{
    position: absolute;
    left: -35px;
    display: none;

    
}

.blistH:hover ul{
    position: absolute;
    background-color:white;
    display:block;
    font-size: 16px;
    margin: 0;
    width: 180px;
}

.blink_a{
    text-decoration: none;
	display:inlin-block;
	color:#626063;
}

.blink_a:hover{
    color: black;
}

.far {
   margin-right: 5px;
}

.fas {
	margin-right: 5px;
}

.header_tab_mob{
    display: none;
}


/*----------------------*/

